.main .content {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ebebeb;
}

.main .content svg {
  width: 100%;
  height: 100%;
}


.main .content .operate {
  width: 40%;
  height: 100%;
  border: 1px solid #ebebeb;
  position: absolute;
  left: -45%;
  top: 0;
}


input[type="button"] {
  background: #ebebeb;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  margin: 20px;
  cursor: pointer;
}

input[type="button"]:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:vertical {
  display: none
}

::-webkit-scrollbar-corner,
 ::-webkit-scrollbar-track {
  background-color: #e2e2e2
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, .35)
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, .38)
}
